pytorch/__pycache__/
pytorch/model_parameters.pth
pytorch/model.pth
v1/train.log
c++/v2/recognizing_handwritten_digits_v2
c++/rnn/rnn
c++/lstm/lstm
c++/matrix_bench/bench
c++/v3/autogradtest
c++/v3/c.log
c++/rnn_v1/rnn
c++/lstm_v1/lstm_v1
c++/gru/gru
c++/vocab_builder/builder
c++/gru_embedding/gru
c++/deep_gru/deep_gru
c++/seq2seq/seq2seq
c++/bmm_bench/bmm_bench
c++/cblas_bench/bench
c++/transformer/transformer
c++/transformer/dbg.log
c++/transformer/checkpoint_20250402_150847_40.bin
build/
c++/v4_cuda/mnist_cuda
c++/v5_tensor/mnist_cuda
c++/**/*.o
c++/v5_tensor/test
c++/v5_tensor/nsight_out/*
c++/v5_tensor/transformer
c++/v5_tensor/p.log
c++/curand/curand
c++/v5_tensor/c.log
