pytorch/__pycache__/
pytorch/model_parameters.pth
pytorch/model.pth
v1/train.log
c++/v2/recognizing_handwritten_digits_v2
c++/rnn/rnn
c++/lstm/lstm
c++/matrix_bench/bench
c++/v3/autogradtest
c++/v3/c.log
c++/rnn_v1/rnn
